.ant-menu {
  border: none !important;
}

.ant-menu-item {
  padding-left: 16px !important;
}

.ant-menu-title-content {
  color: #353046 !important;
}

.dark .ant-menu-title-content {
  color: #cfccdc !important;
}

.ant-menu-submenu-title {
  padding-left: 16px !important;
}

.ant-menu-sub {
  background-color: transparent !important;
}

.ant-menu-item:active {
  background-color: #F3F3FF !important;
}

.dark .ant-menu-item:active {
  background-color: #413356 !important;
}

.ant-menu-submenu-title:active {
  background-color: #F3F3FF !important;
}

.dark .ant-menu-submenu-title:active {
  background-color: #413356 !important;
}

.ant-menu-sub .ant-menu-item {
  padding-left: 18px !important;
  gap: 10px !important;
}

.ant-input-affix-wrapper-focused {
  outline: none !important;
  box-shadow: none;
}

.ant-menu-submenu-selected .ant-menu-submenu-title {
  font-weight: 600 !important;
}

.side-bar-menu-collapse {
  position: fixed;
  left: -10px;
  z-index: 1000;
  padding: 12px 12px 12px 20px;
  border-radius: 20%;
  top: 50%;
  display: none;
}

@media (max-width: 768px) {
  .side-bar-menu-collapse {
    display: block !important;
  }

  .docs-sidebar-menu {
    display: none !important;
  }

  .search-bar {
    display: none !important;
  }
}

.mobile-sidebar .ant-drawer-body {
  padding: 10px !important;
}

.mobile-sidebar .ant-drawer-footer {
  border-top: 1px solid #EBEAF1 !important;
}

.dark .ant-drawer-footer {
  border-top: 1px solid #4C3B63 !important;
}

.ant-anchor .ant-anchor-ink-visible {
  width: 8px !important;
  height: 8px !important;
  border-radius: 50% !important;
  left: -2.85px !important;
  background-color: #01b075 !important;
}

.ant-anchor .ant-anchor-link>.ant-anchor-link-title {
  color: #625982 !important;
}

.ant-anchor .ant-anchor-link-active>.ant-anchor-link-title-active {
  color: #353046 !important;
  font-weight: 500 !important;
}

.ant-menu-submenu-arrow::before,
.ant-menu-submenu-arrow::after {
  color: #36a368 !important;
}

.dark .ant-menu-submenu-arrow::before,
.dark .ant-menu-submenu-arrow::after {
  color: #cfccdc !important;
}

.ant-layout-main-content .docs-components {
  padding-top: 4rem !important;
}

.search-bar .ant-input-affix-wrapper-focused {
  box-shadow: none !important;
}

@media screen and (max-width: 990px) {
  .ant-layout-main-content .docs-components {
    padding-top: 2rem !important;
  }
}

@media screen and (max-width: 768px) {
  .ant-layout-main-content .docs-components {
    padding-top: 1rem !important;
  }
}

.ant-drawer .ant-drawer-content.dark.mobile-sidebar {
  background: #302640 !important;
}