.ant-layout-main-content .ant-menu {
  height: calc(100vh - 100px) !important;
  overflow-y: auto !important;
  border: none !important;
}

.ant-layout-main-content .ant-menu {
  background: #fff !important;
  height: auto !important;
  border: none !important;
}

.ant-layout-main-content .ant-menu .ant-menu-item {
  padding-left: 16px !important;
  border-radius: 4px !important;
  border-left: 2px solid transparent !important;
}

.ant-layout-main-content .ant-menu .ant-menu-item .ant-menu-item-only-child {
  padding-left: 16px !important;
  border-radius: 4px !important;
  border-left: 2px solid transparent !important;
}

.ant-layout-main-content .ant-menu-submenu-title {
  padding-left: 16px !important;
  border-radius: 4px !important;
  color: #464155 !important;
}

.ant-layout-main-content .ant-menu-sub .ant-menu-item {
  padding-left: 30px !important;
}

.ant-layout-main-content .ant-menu-submenu-selected .ant-menu-submenu-title {
  font-weight: 600 !important;
}

.ant-layout-main-content .ant-menu-submenu-title:hover {
  background-color: #f9f9fc !important;
}

.ant-layout-main-content .ant-menu .ant-menu-item:hover {
  border-radius: 0 !important;
  background-color: #f9f9fc !important;
}

.ant-layout-main-content .ant-menu .ant-menu-item-selected {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-left: 2px solid #01b075 !important;
  background-color: #f9f9fc !important;
  color: #01b075 !important;
}

.side-bar-menu-collapse {
  position: fixed;
  left: -10px;
  z-index: 1000;
  background: #7427502b;
  padding: 12px 12px 12px 20px;
  border-radius: 20%;
  top: 50%;
  display: flex;
  display: none;
}

@media (max-width: 768px) {
  .side-bar-menu-collapse {
    display: block !important;
  }

  .docs-sidebar-menu {
    display: none !important;
  }
}
